body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Garantindo que ocupe toda a altura da janela */
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #005f73;
}

.form-container form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-container form input,
.form-container form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container form button {
    width: 100%;
    padding: 10px;
    background: #005f73;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.form-container form button:hover {
    background: #0a9396;
}