/* Estilos gerais da página */

body {
    display: flex;
    justify-content: center;
    align-items: center;
      /* Garantindo que ocupe toda a altura da janela */
    height: 100vh;
  
}


/* Centralizando o container */

.login-form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.229);
    padding: 30px;
    width: 250px;
    text-align: center;
}


/* Estilo para o formulário */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Estilo para os campos de input */

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}






