/* /* Estilos gerais da página */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Garantindo que ocupe toda a altura da janela */
}


/* Centralizando o container */

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.932);
    /* Sombras para dar destaque */
    padding: 30px;
    /* Espaçamento interno */
    width: 350px;
    /* Largura do container */
    text-align: center;
}


/* Estilo para o formulário */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Estilo para os campos de input */

input[type="email"],
input[type="password"] {
    width: 100%;
    /* Tornando os inputs do tamanho do container */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}


/* Estilo para o botão de submit */

input[type="submit"] {
    width: 70%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


/* Estilo para o link de cadastro */

.cadastro-link {
    display: block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.cadastro-link:hover {
    text-decoration: underline;
    /* Sublinha o link ao passar o mouse */
}